.env

minecraft/minecraft-data/
minecraft/plugins/CraftBook/en_US.yml
minecraft/plugins/CraftBook/persistence.yml
minecraft/plugins/CraftBook/uuid-mappings.db
minecraft/plugins/CraftBook/variables.yml
minecraft/plugins/Geyser-Spigot/locales/
minecraft/plugins/WorldEdit/.archive-unpack/
minecraft/plugins/WorldEdit/sessions/
minecraft/plugins/WorldGuard/cache/
minecraft/plugins/WorldGuard/worlds/
minecraft/plugins/bStats/
minecraft/plugins/LuckPerms/luckperms-h2.mv.db
minecraft/plugins/Essentials/upgrades-done.yml
minecraft/plugins/Essentials/userdata/
minecraft/plugins/LuckPerms/luckperms-h2.mv.db
minecraft/plugins/dynmap/web/
minecraft/plugins/Essentials/usermap.csv
minecraft/plugins/dynmap/ids-by-ip.txt
minecraft/plugins/dynmap/world.pending
minecraft/plugins/floodgate/key.pem
