.env

minecraft/minecraft-data/
minecraft/plugins/CraftBook/en_US.yml
minecraft/plugins/CraftBook/persistence.yml
minecraft/plugins/CraftBook/uuid-mappings.db
minecraft/plugins/CraftBook/variables.yml
minecraft/plugins/Geyser-Spigot/locales/
minecraft/plugins/WorldEdit/.archive-unpack/
minecraft/plugins/WorldEdit/sessions/
minecraft/plugins/WorldGuard/cache/
minecraft/plugins/WorldGuard/worlds/
minecraft/plugins/bStats/
minecraft/plugins/dynmap/web/tiles/faces/
minecraft/plugins/dynmap/web/tiles/world/
minecraft/plugins/dynmap/web/tiles/world_nether/
minecraft/plugins/LuckPerms/luckperms-h2.mv.db

